version: 2.1

# Going super-meta, we build/validate the orbs in this CircleCI config,
# and we also use a dev build to test it.
orbs:
  pulumi: pulumi/pulumi@dev:0.0.9

workflows:
  version: 2
  test-orb:
    jobs:
      # Commented out to speed up dev cycle.
      # - validate-orbs
      # - test-login
      - test-update

commands:
  install-circleci:
    description: Installs the CircleCI CLI.
    steps:
      - run: 
          name: "Installing CircleCI CLI"
          command: |
            curl https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh --fail --show-error | sudo bash
            circleci version

jobs:
  validate-orbs:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      - install-circleci
      - run:
          name: Validate Pulumi orbs
          command: |
            circleci orb validate ./orbs/pulumi.yml

  test-login:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      - pulumi/login:
          version: 0.16.1
      - run:
          command: pulumi version

  test-update:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo/
    steps:
      - checkout
      - pulumi/login
      - run:
          name: Install NPM packages
          command: cd ./tests && npm install
      - pulumi/preview:
          stack: pulumi-orbs-alpha
          working_directory: ./tests
